body {
    margin: 0 auto;
    background-color: blueviolet;
    font-family: monospace;
  
    
    overflow-x: hidden;
}

@font-face {
    font-family: freescript;
    src: url("fonts/FREESCPT.TTF");
}

.d0ng3r-font {
    height: 100px;
    font-family: freescript;
    color: red;
    font-size: 65px;
    text-shadow: 1px 1px #fbf7f7;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-right: 45px;
    float: right;
    z-index: 3;

}
.redixxx {
   
    font-family: freescript;
    color: red;
    font-size: 1.3em;
    text-shadow: 1px 1px #111111;
    position: relative;
    display: inline-block;
  
}

h1 {
    margin-left: 5px;
    font-size: 20px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    color: ghostwhite;
    font-size: 15px;

}

.container p {
    margin-left: 10px;
    max-width: 900px;
}

.flower {
    opacity: 10%;
    position: fixed;
   
 
}

.girl {
    opacity: 30%;
    position: fixed;
    z-index: -1;
    display:  flex;
    right: -117px;
    height: 100vh;
    margin-left: 40%;
}

a p {
    color: ghostwhite;
    font-size: 20px;
   
    cursor: pointer;
    position: relative;
    z-index: 4;
}

a {
    text-decoration: none;
}
